if [ $(uname) == "Darwin" ]; then
    alias ls="ls -lah"
elif [ $(uname) == "Linux" ]; then
    alias ls="ls -lah --color=auto"
fi
alias gpr="git pull --rebase"
alias gs="git s"
alias gd="git d"
alias gl="git l"
alias gbv="git branch -v"
alias gbd="git branch -d"
alias gbD="git branch -D"
alias gpo="git push origin"
alias gcb="git checkout branch"
alias tf="terraform"

alias kc="kubectx"
alias kn="kubens"
alias k="kubectl"
