if [ $(uname) == "Darwin" ]; then
    alias ls="ls -lah"
elif [ $(uname) == "Linux" ]; then
    alias ls="ls -lah --color=auto"
fi
alias gpr="git pull --rebase"
alias gs="git s"
alias gd="git d"
alias gl="git l"
alias gpo="git push origin"
alias gcb="git checkout branch"
