[alias]
    a = add
    aa = add .
    c = commit
    cm = commit -m
    # View abbreviated SHA, description, and history graph of the latest 20 commits
    l = log -n 20 --pretty=format:\"[ %C(yellow)%H%Creset ] - %C(green)%ai%Creset - (%aE - %cn) \n --| %C(blue)%s%Creset\"

    # Abbreviated status
    s = status -s
    ss = status -s
    sl = status --long

    # Branches
    bra = branch -a
    brv = branch -v

    d = diff

    rp = remote prune origin
    pr = pull --rebase
[user]
	email = zach.zeid@thinkahead.com
	name = zach.zeid
[github]
	user = zachzeid
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
